extends layout

block layout-content
  div.View.Welcome
    h1.Banner BYTEBYTE
    div.Message
      div.Title
        h3 FIND THE BEST
        h1 Food For Busy People
      span.Details Access the WHAT CAN I BYTE Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!